/* ----------------------------------------------
	BUTTONS
---------------------------------------------- */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #555;
  cursor: default;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 3.8rem;
  text-align: center;
  text-decoration: none;
  padding: 0 3rem;
  margin-bottom: 1rem;
  height: 3.8rem;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  border-color: #888;
  color: red;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border-color: #888;
  outline: 0;
}

.btn:visited {
  color: #555;
}
