/* ----------------------------------------------
	STRUCTURE FORM
---------------------------------------------- */
#responsive-form {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
}

.form-row{
	width: 100%;
}

.column-half, .column-full{
	float: left;
	position: relative;
	padding: 0.65rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.column-full {
	width: 100%;
}

.column-half {
	width: 50%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*------------------------------
    MEDIA QUERY
-------------------------------*/
@media (max-width: 768px) {
	.column-half{
		width: 100%;
	}	
}

/*------------------------------
    CONTACT FORM 7
-------------------------------*/
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
	width: 100%;
	padding: 4px 13px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box
}

.wpcf7 input[type="text"]:focus {
	background: #fff;
}

.wpcf7-validation-errors, .wpcf7-mail-sent-ok {
	display: inline-block;
}

/*.wpcf7-submit {
	float: right;
	background: #CA0002;
	color: #fff;
	text-transform: uppercase;
	border: none;
	padding: 8px 20px;
	cursor: pointer;
}

.wpcf7-submit:hover {
	background: #ff0000;
}*/

/*span.wpcf7-not-valid-tip {
	text-shadow: none;
	font-size: 12px;
	color: #fff;
	background: #ff0000;
	padding: 5px;
}*/

/*div.wpcf7-validation-errors { 
	text-shadow: none;
	border: transparent;
	background: #f9cd00;
	padding: 5px;
	color: #9C6533;
	text-align: center;
	margin: 0;
	font-size: 12px;
}*/

/*div.wpcf7-mail-sent-ok {
	text-align: center;
	text-shadow: none;
	padding: 5px;
	font-size: 12px;
	background: #59a80f;
	border-color: #59a80f;
	color: #fff;
	margin: 0;
}*/