/*--------------------------------------------------------------
  IMAGES
--------------------------------------------------------------*/
.alignleft,
img.alignleft{
  display: inline;
  float: left;
  margin: 15px 15px 26px 0;
}

.alignright,
img.alignright{
  display: inline;
  float: right;
  margin: 15px 0 15px 15px;
}

.aligncenter,
img.aligncenter{
  clear: both;
  display: block;
  margin: 15px auto 10px auto;
}

.alignnone,
img.alignnone{
  clear: both;
  display: block;
  margin: 20px auto;
}

/* ----------------------------------------------
  PAGINATION
---------------------------------------------- */
.pagination {
  font-size: 0;
}

.pagination li {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination a,
.pagination span,
.pagination .current {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  color: #797979;
  font-size: 14px;
  display: block;
  min-width: 36px;
  padding: 10px;
  text-decoration: none;
}

.pagination .current {
  background: #e0e0e0;
  color: #fff;
  cursor: default;
}

/* ----------------------------------------------
  BLOCKQUOTE
---------------------------------------------- */
blockquote{
  margin: 1.5em 0 1.5em;
    padding: 0 8em 0 12em;
    position: relative;
    text-align: justify;
}

blockquote:before{
  color: #ccc;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 140px;
  top: 0.3em;
  line-height: 0.1em;
}

blockquote:after{
  color: #ccc;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:103px;
  bottom: 0em;
  line-height: 0.1em;
}

/* ----------------------------------------------
  COMMENTS
---------------------------------------------- */
.container-comments {
    width: 100%;
    padding: 10px;
}

.comments-title {  
    font-size: 20px;
}

.comment-list,
.children {
    list-style: none;
    font-size: 15px;
}

.comment-list li {
    border: 1px solid #eee;
    margin: 0 0 15px -20px;
    padding: 10px; 
}

.comment-list li img {
    float: left; 
    padding: 5px;
}

.reply,
.nofollow {
  margin-bottom: 10px;
}

#commentform label {
    display: block;
}

#commentform p {
    margin: 10px 0;
}

#commentform input {
    border: 1px solid #CFCFCF;
    color: #1f1f1f;  
    font-size: 14px;
    outline: 0;   
    padding-left: 8px;
    width: 100%;  
}

#commentform input[type=submit] {
    background: #ededed;
}

#commentform input:hover[type=submit] {
    background: #6BBA70;
    color: #fff;
}

#commentform textarea { 
    border: 1px solid #cfcfcf; 
    color: #1f1f1f;
    font-size: 14px;
    outline: 0;   
    padding: 5px;
    width: 100%;
}

.comment-form {
    padding-top: 1.6em;
}

.comment-form label {
    color: #707070;
    font-size: 12px;
    font-weight: 700;
    display: block;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
}

textarea#comment,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
    border: 1px solid #ccc;
    padding: 8px 10px;
    width: 100%;
}

/* ----------------------------------------------
    PAGE 404 
---------------------------------------------- */
.not-found {
  color: #707070;
  font-size: 20px;
  min-height: 500px;
  padding-top: 30px;
  text-align: center;
}

.not-found div {
  color: #e0e0e0;
  font-size: 5em;
  font-weight: bold;
}

.not-found p {
  border-top: 2px solid #e0e0e0;
  display: inline-block;
  margin-top: 30px;
  padding: 30px;
  width: 80%;
}

@media (min-width: 480px) {
  .not-found {
    font-size: 40px;
  }
}