/* ----------------------------------------------
    HOME
---------------------------------------------- */

/* ###### MAIN ###### */
.main {
	margin-bottom: 20px;

}

.col-example {
	background-color: #F8F8F8;
	border: 1px solid #ccc;
}
