/* ----------------------------------------------
    CSS MAIN
---------------------------------------------- */

/* ###### HEADER ###### */
.navbar-brand {
	margin-left: 0px !important;
	padding: 0;
}

/* ###### MAIN ###### */
.main {
	margin-bottom: 20px;

}

.col-example {
	background-color: #F8F8F8;
	border: 1px solid #ccc;
}

/* ###### FOOTER ###### */
.footer {
	background-color: #F8F8F8;
	padding: 30px;
}