/*--------------------------------------------------------------
    RESET
--------------------------------------------------------------*/
.panel-title > a:after { 
	content: "\e259"; 
	float: right; 
	font-family: 'Glyphicons Halflings'; 
	font-size: 7pt; 
	line-height: 2; 
	color: silver;
}
