//
// Grid system
// --------------------------------------------------

.container {
    @include container-fixed;
    max-width: 1280px;
}

.container-fluid {
   @include container-fixed;
}

.row {
    @include make-row;
}

@include make-grid-columns;
@include make-grid(xs);

@media (min-width: $screen-sm-min) {
    @include make-grid(sm);
}

@media (min-width: $screen-md-min) {
    @include make-grid(md);
}

@media (min-width: $screen-lg-min) {
    @include make-grid(lg);
}